certifi==2024.7.4
click==8.1.7
dnspython==2.4.2
Flask==3.0.3
Flask-HTTPAuth==4.8.0
gevent==22.10.2
greenlet==2.0.2
itsdangerous==2.2.0
Jinja2==3.1.4
MarkupSafe==2.1.5
psycopg2==2.9.9
psycopg2-binary==2.9.9
pymongo==4.6.1
SQLAlchemy==2.0.22
typing_extensions==4.8.0
Werkzeug==3.0.3
zope.event==5.0
zope.interface==6.0
